<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="UTF-8">
<title>Galeria de Pratos</title>

<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/css/estilos.css">

</head>
<body>

	<!-- Barra de navegação -->

	<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">

		<a class="navbar-brand" href="/restaurante/paginaInicial"> <img
			src="/img/logo2.png" width="100" height="50"
			class="d-inline-block align-top" alt="LogoMarca">
		</a>

		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
			aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarNavDropdown">
			<ul class="navbar-nav">

				<li class="nav-item"><a class="nav-link"
					href="/restaurante/paginaInicial">Página Inicial</a></li>

				<li class="nav-item  active"><a class="nav-link"
					href="/restaurante/listarPratos">Galeria de Pratos <span
						class="sr-only">(current)</span></a></li>

				<li sec:authorize="hasRole('ROLE_ADMIN')" class="nav-item"><a
					class="nav-link" href="/restaurante/formularioPrato">Cadastrar
						Pratos</a></li>

				<li sec:authorize="hasRole('ROLE_CLIENT')" class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#"
					id="navbarDropdownMenuLink" role="button" data-toggle="dropdown"
					aria-haspopup="true"> Pedidos </a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
						<a class="dropdown-item" href="/restaurante/carrinhoCompras">Carrinho
							de Compras</a> <a class="dropdown-item"
							href="/restaurante/historicoPedidos">Histórico de Pedidos</a>
					</div>
				</li>

			</ul>

			<ul class="navbar-nav ml-auto">
				<li sec:authorize="!isAuthenticated()" class="nav-item"><a
					class="nav-link" href="/restaurante/formularioUsuario">Cadastrar-se</a>
				</li>
				<li sec:authorize="!isAuthenticated()" class="nav-item"><a
					class="nav-link" href="/restaurante/paginaLogin">Entrar</a></li>
				<li sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_CLIENT')"
					class="nav-item"><a class="nav-link" href="/logout">Sair</a></li>
			</ul>

		</div>

	</nav>

	<!-- ============================ Lista de pratos =========================-->

	<header>
		<h3>Galeria de Pratos</h3>
	</header>

	<table class="table table-hover">
		<thead>
			<tr>
				<th></th>
				<th scope="col">Código</th>
				<th scope="col">Nome do Prato</th>
				<th scope="col">Preço do prato</th>
				<th></th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="prato : ${listaDePratos}">
				<td><img width="200" height="200"
					th:src="@{'/images/' + ${prato.nome} + ${prato.codigo} + .png}"></img></td>
				<td th:text="${prato.codigo}"></td>
				<td th:text="${prato.nome}"></td>
				<td th:text="${prato.preco}"></td>
				<td sec:authorize="hasRole('ROLE_ADMIN')"><a
					th:href="@{/restaurante/removerPrato/{codigo}(codigo = ${prato.codigo})}">
						<button type="button" class="btn btn-danger">Remover</button>
				</a></td>
				<td sec:authorize="hasRole('ROLE_ADMIN')"><a
					th:href="@{/restaurante/atualizarPrato/{codigo}(codigo = ${prato.codigo})}">
						<button type="button" class="btn btn-primary">Atualizar</button>
				</a></td>
				<td sec:authorize="!hasRole('ROLE_ADMIN')"><a
					th:href="@{/restaurante/adicionarCarrinho/{codigo}(codigo = ${prato.codigo})}">
						<button type="button" class="btn btn-success">Adicionar
							ao Carrinho</button>
				</a></td>
			</tr>
		</tbody>
	</table>

	<script src="/js/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
</body>
</html>